langchain
langchain-community
langchain-groq
langchain-huggingface
python-dotenv
streamlit
unstructured
tiktoken
faiss-cpu
libmagic
openai
sentence-transformers
pytesseract
pdf2image
poppler-utils
Pillow
rapidocr-onnxruntime

