streamlit
langchain
langchain-community
langchain-huggingface
langchain-groq
faiss-cpu==1.7.4  # Compatible with Python 3.11
pymupdf
torch
transformers==4.36.2
sentence-transformers==2.2.2
rapidocr-onnxruntime
Pillow
